
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body{
  background-image: url('imagens/fundo.png');
  font-family: 'inter', sans-serif;
  color: white;
  background-position: center center; /* Center the image horizontally and vertically */
  background-size: cover;

}
:root {
  --white: #fff;
  --red: rgb(0, 98, 255);
  --gray: #959595;
  --blue: #00ff37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* sobre.html */
/* Header */
.foto{
  height: 100px;
  border-radius: 100%;
  margin-top: 100px;
}
.participane{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
}


.main-header {
  background-image: linear-gradient(to right, rgb(0, 98, 255), #000000);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu{
  width: 40px;
  margin-top: -25px;
  margin-left: 0px;
 position: absolute;
}
#sacola{
  width: 40px;
  margin-top: 5px;
  margin-left: 200px;
  border: none;
  background: transparent;
 position: absolute;
}
#sacolinha{
  width: 40px;
}

#btnMenu{
  background: transparent;
  border: none;
}
#carrinho{
  background-color: rgb(0, 98, 255);
  width: 500px;
  position: fixed;
  z-index: 999;
  margin-top: 200px;
  margin-top: -970px;
  margin-left: 950px;
  border-radius: 20px;
  padding: 50px;
  border: solid white; 
}
#menu-{
  background-color:rgb(0, 98, 255);
  height: 420px;
  width: 200px;
  border-radius: 40px;
  margin-left: -90px;
  border: solid white;
  margin-top: 20px;
  position: fixed;
}
.lista2{
  margin-top: 50px;
  position: absolute;
  display: flex;
  margin-left: 50px;
  font-size: 30px;
  color: var(--white);
  background: transparent;
  border: none;
}

#voltar{
width: 40px;
margin-top: -10px;
margin-left: -220px;
}
#siricascudo{
  height: 150px;
}



.main-nav {
  width: 100%;
}

.header-list-container {
  padding: 16px 0;
}

.nav-item {
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}



.movie-title-large {
  text-align: center; 
  font-size: 54px;
  
  
}
#remover-car{
  width: 20px;
}

.main-section {
  padding: 40px 0 64px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px
}

.section-title {
  font-family: 'inter', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}



.section-description {
  color: #777;
}

.section-description + .section-description {
  margin-top: 16px;
  
}


/*  Footer  */
.main-footer {
  padding: 16px 0;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;

}
.main-footer{
  background-image: linear-gradient(to bottom, rgba(1, 176, 189, 0), #000000);
  margin-top: 200px;
}


.footer-item + .footer-item {
  margin-left: 20px;
}

.footer-item img {
  width: 90px;
  height: 90px;
  margin-left: 25px;
  margin-left: 200px;
  position: absolute;
  margin-top: 60px;
}
.footer-item2 img {
  width: 200px;
  height: 200px;
  margin-left: 300px;
  margin-top: 20px;
  position: absolute;
}
.container20 img{
  width: 200px;
  height: 200px;
  position: absolute;
}
.footer-item3{
margin-top: 200px;
margin-right: 50px;
}


/* loja.html */

/* Main */
.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.movie-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.product-image {
  width: 170px; /* Flex wrap coloca 2 posters por linha, pq a seção tem 600px */
  height: 144px;
}

.product-price-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-price {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.button-hover-background {
  background: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  padding: 4px 2px;
  font-weight: bold;
  transition: 0.2s;
}

.button-hover-background:hover {
  background: transparent;
  color: var(--red);
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #b8b8b8;
  margin-left: 25px;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 24px auto 0;
  background: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);

}

#horta{
  width: 300px;
  border-radius: 40px;
  margin-top: 80px;
}



/* Responsividade */


@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }
  

  .schedule-item {
    flex-wrap: wrap;
    text-align: center;
  }

  .schedule-item + .schedule-item {
    margin-top: 12px;
  }

  .show-date,
  .show-place {
    width: 32%;
    padding: 4px;
  }

  .show-city {
    width: 33%;
    padding: 4px;
  }

  .buy-ticket-button {
    width: 60%;
    margin-top: 12px;
    padding: 12px 2px;
  }


  .products-container {
    justify-content: center;
  }

  .product-identification {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-product-title {
    margin-top: 6px;
  }

  .product-qtd-input {
    display: block;
    margin: 0 auto;
  }

  .remove-product-button {
    display: block;
    margin: 8px auto 0;
  }
  #horta{
    width: 300px;
    border-radius: 40px;
    margin-top: 80px;
  }
  
}




@media (max-width: 470px) {
  .about-movie-image {
    width: 120px;
  }
  .participane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main-footer-container {
    flex-direction: column;
  }

  .movie-title-medium {
    margin-bottom: 16px;
  }
  
  
  #sacola{
  width: 40px;
  margin-top: 5px;
  margin-left: 150px;
  border: none;
  background: transparent;
  position: absolute;
}
#sacolinha{
  width: 40px;
}
#carrinho{
  background-color:rgb(0, 98, 255);
  width: 410px;
  position: fixed;
  z-index: 999;
  margin-top: -1700px;
  margin-left: 5px;
  border-radius: 20px;
  padding: 20px;

}

.footer-item img {
  width: 90px;
  height: 90px;
  margin-left: 25px;
  margin-left: 155px;
  position: absolute;
  margin-top: 60px;
}
.footer-item2 img {
  width: 200px;
  height: 200px;
  margin-left: 205px;
  margin-top: 20px;
  position: absolute;
}
.container20 img{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: -20px;
}
.footer-item3{
margin-top: 150px;
margin-left: -10px;

}
.footer-item3 img{
height: 400px;

}
#voltar{
  width: 40px;
  margin-top: -10px;
  margin-left: -1px;
}
#menu{
  width: 40px;
  margin-top: -25px;
  margin-left: 0px;
  position: absolute;
}
#menu-{
  background-color: rgb(0, 98, 255);
  height: 420px;
  width: 200px;
  border-radius: 40px;
  margin-left: 0px;
  margin-top: 20px;
  border: solid white; 
}
.main-footer{
  background-image: linear-gradient(to bottom, rgba(1, 176, 189, 0), #000000);
  width: 425px;
 margin-top: 200px;
}
#horta{
  width: 300px;
  border-radius: 40px;
  margin-top: 80px;
}
}